
body{
  margin: 0px;
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #ffff00;
  background: #000000;
}

#countdown{
  text-align: center;
}

#nav-placeholder {
  width: 100%;
  height: 60px;
  float: center;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #ffff00;
  text-align: center;
}

#nav-placeholder ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0;
  border-right-color: black;
  display: inline-block; 
  text-align: center;
}

#nav-placeholder li {
  float: left; }

#nav-placeholder li a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

#nav-placeholder li a:hover {
  color: #ffff00;
  background-color: #000000;
  position: relative;
  min-height: 20px;
   }

#nav-placeholder li a:active{
  background-color: #4CAF50;
  color: white;
}

#foot {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

}
#foot ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

#foot li a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

#foot li a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

#foot li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container {
  text-align: center;
}
