
body{
  margin: 0px;
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #ffff00;
  background: #000000;
}

#countdown{
  text-align: center;
}
#nav {
  background-color: #ffff00;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff00;
  display: inline-block;
}

#nav ul li {
  float: left;
}

#nav ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav ul li a:hover {
  color: #ffff00;
  background-color: #000000;
}

#foot {
  background-color: 000000;
  color: #ffff00;
  list-style: none;
  display: inline;
  text-decoration: none;
}

#foot ul{
  border-top: 1px solid orange;
  list-style: none;
  display: inline;
  text-decoration: none;
}

#foot ul li{
  padding-right: 20px;
}

.container{
  text-align: center;
  color: #ffff00;
  background: #000000;
}